{% block content %}

    <h1>Search</h1>

    {% if search is defined %}

    {% endif %}

    <div>
        <form name="input" action="/form_search" method="post">

            Search words
            <input type="text" name="search"/>

            <input type="submit" name="submit" value="Submit">

        </form>
    </div>


    {% if search is defined %}
        <div>
            <div>
                Show Results for : {{ search }}
            </div>
            <div>
                <table border="1">
                    {% for item in searchResults %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}

{% endblock %}